creat.c
done/readdir.c
test/*
umount.sh
todo
.gdbinit
sfstypes.h
done/*
.vscode/*
testsmall
testtiny
testmedium
testlarge2
testhuge
mountpoint/*
done/*
newAlloBlock.o
sfs
sfs_getattr.o
sfs_init.o
sfs_mknod.o
sfs_open.o
sfs_read.o
sfs_readdir.o
sfs_truncate.o
sfs_unlink.o
sfs_utimens.o
sfs_write.o
getNumBlock.o
main.o